<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='block.css') }}">
    </head>
<body>
{% extends "layout.html" %}
{% block content %}
  <!-- <div class="study">   -->
<!-- <div class="text"> -->
    <!-- <div style="position:fixed;top:8%;width:100%;">  -->
<h2>Study information:</h2>
    </div>
 <div style="height:80%;position:fixed;top:18%;width:85%;overflow:auto;"> 
  
  <p> 

    Dear Participant, <br><br>

I am a student in Computer Science at the University of Bristol, currently developing a website for reading and understanding legal judgments as part of my final project. To evaluate the project, I am engaging participants to try to understand how successful my website is at making judgments easier and quicker to read. This data collection will take place using a questionnaire about the use of our designs. By engaging potential users in the initial design activities of these interactive prototypes, I hope to ensure that my designs are both useful and usable.
<br>
<br>
<b>Participation</b>
<br>
Participants should be over 18 and should be able to provide written consent on the form provided. 
Participation in this study is voluntary. If you decide to take part, you will be asked to provide written consent. You are free to withdraw during the study at any time and without having to give a reason.
<br>
<br>
<b>Risks and Disadvantages</b>
<br>
There are no known risks associated with completion of the questionnaires, the interviews, or the observations of the use of the device. 
<br>
<br>
<b>Data management and Confidentiality</b>
<br>
No personally identifying information will be recorded on the questionnaires, interviews, or observations. Any personal information recorded as part of the consent process will be kept strictly confidential by the development teams and the lecturing staff. Any final write-ups of the data gathered will not include any information that can be linked directly to you. 
All data will be stored so that your name is not associated with it (using an arbitrary participant number) and no photographs, audio recordings, or video recordings will be made. All data will be handled confidentially and anonymously. The data collected from this study will be used in a coursework submission to the University of Bristol. Results from the research will be presented in accordance with rules for anonymity such that the results cannot be traced to individual participants.
If you have any questions about the management of your data please do not hesitate to ask.
<br>
<br>
<b>Right to Withdraw</b>
<br>
You are free to withdraw from the study at any time without penalty and without losing any advertised benefits. Withdrawal from the study will not affect your academic status or your access to services at the University of Bristol. If you withdraw, all of your data held by the student will be deleted from the study and destroyed. In addition, you are free to not answer specific questions in the interviews or on the questionnaire.
Your continued participation should be as informed as your initial consent, so you should feel free to ask for clarification or new information throughout your participation. If you have further questions concerning matters related to this research, please contact us by emailing both the Lecturer and the Group using the details given at the top of the document. 
<br>
<br>
<b>Questions</b>
<br>
If you have any questions concerning the study, please feel free to ask at any point; you are also free to contact us with the details provided above if you have questions at a later time.  This study has been approved on ethical grounds by the University of Bristol Faculty of Engineering Ethics Board.  Any questions regarding your rights as a participant may be addressed to that committee through the Faculty Ethics Officer (http://www.bris.ac.uk/red/support/governance/ethics/ethics.html). Please note that you are free to withdraw from participation at any time. 
<br>
<br>
Thank you for your interest and cooperation. If you would like more information about the research project, please feel free to make contact.
<br>
<br>
Yours faithfully,
<br><br>
Miranda Daniel


  </p>
</div>
{% endblock %}
</body>
</html>